.timer {
	display: flex;
	gap: 10px;
	margin-top: 50px;
 }
 
 .timer_item {
	display: flex;
	flex-direction: column;
	align-items: center;
 }
 .time_value {
	color: var(--white-cl);
	font-size: 20px;
	font-weight: 700;
 }
 
 .time_label {
	color: var(--white-cl);
	font-size: 14px;
	text-transform: capitalize;
 }