.auth_container {
	display: flex;
	gap: 10px;
 }
 
 .auth_button {
	background-color: var(--accent-cl);
	border: 1px solid var(--accent-cl);
	color: var(--white-cl);
	font-size: 12px;
	transition: var(--animation);
 
	&:hover {
	  color: var(--accent-cl);
	  background-color: var(--white-cl);
	}
 }